# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
- List popular languages for data science
- List commonly used libraries used by Data Scientists
- List examples of Data Science Tools
- Provide examples of basic arithmetic expressions in Python

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL
4. Java

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. NumPy
3. Matplotlib
4. Scikit-learn
5. TensorFlow
6. ggplot

| Data Science Tools |
| -------- |
| Jupyter Notebook |
| RStudio |
| Apache Spark |

### Below are a few examples of evaluating arithmetic expressions in Python

In [2]:
## This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [3]:
## This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

## Author
Samantha Love